.selected-user {
  color: red;
}
li {
  user-select: text; /* або user-select: auto; */
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.bl-border {
  border: 5px solid black;
}
.users-list-container {
  min-width: 14rem;
}

.post-title {
  display: flex;
  justify-content: space-between;
}
.posts-container {
  width: 100%;
}
